
.navbar {
    background-color: rgb(41, 38, 38);
  }

  a.nav-link {
    color: white;
  }

  .navbar-toggler-icon {
    background-color: white;
    color: black;
  }

  #btn{
    margin-left:20px;
    font-size: 20px;
  }

  .name-background{
    font-size: 30px;
  }
